/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$main-color: #f89406;
$font-color: #fdfdfd;
$secundary-color: #1DF2D2;
$background-color: #182a41;

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    line-height: 1.5;
    color: #fdfdfd;
}

.page-content{
	background-color: $background-color;
	padding: 0;
}

.home{
	font-size: 22px;
	color: $font-color;
	background-color: $background-color;
}

.main-area{
	// border: 1px solid red;
	height: 75vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15%;
	flex-direction: column-reverse;
}

.description{
	width: auto;
}

.description a:nth-child(2){
	color: #2867B2;
}

.description a:nth-child(3){
	color: #EA4335;
}

.name{
	color: $main-color;
	font-weight:800;
	font-size: 28px;
}

.photo{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	margin-bottom: 3%;
}

/* /// border-gradient mixin: /// */

@mixin border-gradient($from, $to, $weight: 0) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);
  
  box-shadow: 0 5px 0 $weight rgba($mix-sub-to, .25),
              0 -5px 0 $weight rgba($mix-sub-from, .25),
              5px 0 0 $weight rgba($mix-sub-to, .25),
              -5px 0 0 $weight  rgba($mix-sub-from, .25),
              5px -5px 0 $weight rgba($mix-main, .5),
              -5px 5px 0 $weight rgba($mix-main, .5),
              5px 5px 0 $weight rgba($to, .75),
              -5px -5px 0 $weight rgba($from, .75);
}


.photo img{
	border-radius: 100%;
	@include border-gradient($secundary-color, $main-color);
}

@keyframes rotateThis {
	0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
	50% {transform: translateY(-10px);}
}

.photo img:hover{
	animation: rotateThis 1s linear infinite;
	cursor: pointer;
}

@media screen and (min-width: 800px) {
	.main-area{
		flex-direction: row;
	}
	.description{
		width: 75%;
	}
	.photo{
		margin-left: 5%;
		margin-bottom: 0%;
		max-width: 350px;
	}
}

.post-list{
	margin: 0;
	padding: 3% 0;
}

.post-list > li{
	background-color: $font-color;
	margin: 2%;
	padding: 5%;
}

.post-link {
    font-size: 1.7rem;
}



// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
